#homepage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    aside {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    
    #header {
        display: grid;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    
    main {
        display: grid;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        
    }
}
