#homepage {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    height: 100vh;
    font-family:"Montserrat";
    margin-left: 10px;
    
    & > aside {
        background-color: #C49FFF;
        display: grid;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        height: 100vh;
        padding: 10px;
        
        h1 {
            font-size: 2rem;
            font-weight: 600;
        }
        h2 {
            margin-top: 30px;
            color: purple;
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 600;
        }
        a {
            text-decoration: none;
            color: red;
            font-size: 1rem;
        }
        
    }
    
    & > #header {
        background-color: #7D4FFE;
        display: grid;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        padding: 10px;
        h1 {
            font-weight: bold;
            font-size: 3rem;
            font-family: 'Special Elite';
        }
        p {
            text-align: right;
        }
        a {
            text-decoration: none;
            text-align: right;
            color: purple;
            font-weight: bold;
        }
    }
    
    & > main {
        background-color: #FFD0E6;
        display: grid;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        
    }
}
