#register {
    font-family: "Montserrat";
    display: grid;
    form {
        display: grid;
        padding: 2rem;
        border-radius: 30px;
        box-shadow: 10px 5px 5px black;
        height: 40vh;
        width: 40vh;
        position: absolute; /* postulat de départ */
        top: 50%; left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */

        

        
         h1 {
            text-align: center;
            font-weight : bold;
            color: purple;
        }
        
         #registerUsername, #registerEmail, #registerPassword, #registerConfirmPwd,  {
            background: #CDEFF6;
        }
        
         input{
            color: red;
            border-radius: 10px;
            float: left;
            width: 200px;
        }
        
        label {
            color: purple; 
            display:block;
            float:left;
            width:150px;
        }
    
    #buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        #button1{
            display: grid;
            grid-column: 2 / 3;
                color: red;
                align-self: center;
                justify-self: center;
                height: 5vh;
                width: 10vw;
                border-radius: 30px;
                font-weight : bold;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
                }
                
/*        #button2{
            display: grid;
            grid-columns: 1 / 2;
                color: red;
                align-self: center;
                justify-self: center;
                height: 3vh;
                width: 8vw;
                border-radius: 30px;
                    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
                }*/
            }
        }
    }
