@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#register {
  font-family: "Montserrat";
  display: grid;
}
#register form {
  display: grid;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 10px 5px 5px black;
  height: 40vh;
  width: 40vh;
  position: absolute; /* postulat de départ */
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
#register form h1 {
  text-align: center;
  font-weight: bold;
  color: purple;
}
#register form #registerUsername, #register form #registerEmail, #register form #registerPassword, #register form #registerConfirmPwd {
  background: #CDEFF6;
}
#register form input {
  color: red;
  border-radius: 10px;
  float: left;
  width: 200px;
}
#register form label {
  color: purple;
  display: block;
  float: left;
  width: 150px;
}
#register form #buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*        #button2{
              display: grid;
              grid-columns: 1 / 2;
                  color: red;
                  align-self: center;
                  justify-self: center;
                  height: 3vh;
                  width: 8vw;
                  border-radius: 30px;
                      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
                  }*/
}
#register form #buttons #button1 {
  display: grid;
  grid-column: 2/3;
  color: red;
  align-self: center;
  justify-self: center;
  height: 5vh;
  width: 10vw;
  border-radius: 30px;
  font-weight: bold;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#login {
  font-family: "Montserrat";
  display: grid;
  width: 100vw;
}
#login form {
  display: grid;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 10px 5px 5px black;
  height: 35vh;
  width: 35vh;
  position: absolute; /* postulat de départ */
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
#login form h1 {
  text-align: center;
  font-weight: bold;
  color: purple;
}
#login form #login, #login form #password {
  background: #CDEFF6;
}
#login form input {
  color: red;
  border-radius: 10px;
  float: right;
  width: 200px;
}
#login form label {
  text-align: center;
  color: purple;
  display: block;
  float: left;
  width: 100px;
}
#login form p {
  margin-top: auto;
}
#login form p a {
  text-decoration: none;
  font-weight: bold;
}
#login form #button {
  align-self: center;
  justify-self: center;
  height: 4vh;
  width: 10vw;
  border-radius: 30px;
  color: red;
}

#homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#homepage #aside {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/4;
}
#homepage #header {
  display: grid;
  grid-column: 2/4;
  grid-row: 3/4;
}
#homepage #main {
  display: grid;
}

/*# sourceMappingURL=style.css.map */
